Mosquitto_test.json
[{"id":"813af8a.06cf488","type":"tab","label":"Mosquitto test","disabled":false,"info":""},{"id":"2c17ec9b.4083f4","type":"mqtt out","z":"813af8a.06cf488","name":"Publish, topic \"test/message\"","topic":"test/message","qos":"","retain":"","broker":"4d32915d.41a748","x":630,"y":40,"wires":[]},{"id":"1a18deb9.4dd8b1","type":"mqtt in","z":"813af8a.06cf488","name":"Subscribe, topic \"test/message\"","topic":"test/message","qos":"2","datatype":"auto","broker":"4d32915d.41a748","x":170,"y":120,"wires":[["bab59b8a.875b28"]]},{"id":"bab59b8a.875b28","type":"debug","z":"813af8a.06cf488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"c64d3b47.f9335","type":"function","z":"813af8a.06cf488","name":"Random Number","func":"// Returns a random number 1 -10\nmsg.payload = Math.floor((Math.random() * 10) + 1);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["2c17ec9b.4083f4"]]},{"id":"711bb954.9b3298","type":"inject","z":"813af8a.06cf488","name":"Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":40,"wires":[["c64d3b47.f9335"]]},{"id":"4d32915d.41a748","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]